// --------------------
// scss color variables
// --------------------

// from dark to light
$dc_green1_4: #0c8c17;
$dc_green2_4: #49a951;
$dc_green3_4: #86c68b;
$dc_green4_4: #c2e2c5;
$dc_green_line: #66b66c;
$dc_green_background: #e5f3e6;

// from dark to light
$dc_blue_extra1_4: #2e678f;
$dc_blue_extra2_4: #628dab;
$dc_blue_extra3_4: #96b3c7;
$dc_blue_extra4_4: #cbd9e3;
$dc_blue_extra_line: #05497a;
$dc_blue_extra_background: #e8eef3;

// from dark to light
$dc_blue1_4: #0575c4;
$dc_blue2_4: #4497d3;
$dc_blue3_4: #82bae2;
$dc_blue4_4: #c1dcf0;
$dc_blue_line: #0062bc;
$dc_blue_background: #e3f0f9;

// from dark to light
$dc_purple1_4: #b816d9;
$dc_purple2_4: #ca50e2;
$dc_purple3_4: #dc8aec;
$dc_purple4_4: #edc5f5;
$dc_purple_line: #b000d4;
$dc_purple_background: #f7e5fb;

// from dark to light
$dc_red1_4: #e61e2f;
$dc_red2_4: #ec5763;
$dc_red3_4: #f28f97;
$dc_red4_4: #f9c7cb;
$dc_red_line: #e3081b;
$dc_red_background: #fce6e8;

// from dark to light
$dc_yellow1_3: #f2cb00;
$dc_yellow2_3: #f6dc16;
$dc_yellow3_3: #fbee8a;
$dc_yellow_line: #f1c600;
$dc_yellow_background: #fefadd;

$color_digioptions0: $dc_blue_extra_line;
$color_digioptions1: $dc_blue1_4;
